body {
  background-color: #f5f5f5;
}

.input {
  border: 0;
  outline: 0;

}

.input:focus {
  outline: none !important
}
.round {
  position: relative;
}


.Tab {
  list-style: none;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #dddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: green;
}

.btnn:focus {
  border:1px solid red;
}

.btnn:hover {
  border:1px solid red;
}
.btn1:hover {
  border:1px solid red;
}

.btnn {
  border: none;
  background: none;
  color: #4d4d4d;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn1 {
  border: none;
  background: none;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 15%;
  left: -2%;
  
  border-radius:50%;
  height: 30px;
  width: 30px;
  border: 1px solid #eee;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 10px;
  top: 4px;
  width: 7px;
  height: 20px;
  border: solid green;
  color:green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}